body{
	margin: 0px;
	padding: 0px;
	font-family: "Bree Serif", "Times new roman";
}

.navigation{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%);
	padding:0px;
	margin: 0px;
	}
img{
	width: 50px;
	height: 25px;
	padding: 1px;
}

ul{
	display: flex;
	align-items: center;
	padding: 0px;
	margin: 0px;
}
ul li
{
	list-style-type: none;
	color: white;
	display: inline-block;
	padding: 10px;
	font-size: 30px;
	color: #fff;

}
@media only screen and (max-width:600px)
{
	.menuitem{
		font-size: 10px;
	}
}

.menu1
{
	margin-left: auto;
}

/*container*/

.container
{
    background:linear-gradient(to bottom,  orange, orange, white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border:10px solid white;
    color: #910117;
    height: 200px;
}


@media only screen and (max-width:600px)
{
	.container h1{
		font-size: 15px;
	}
}

.head
{
	padding-right: 25px;
}

@media only screen and (max-width:500px)
{
	.head{
		font-size: 18px;
	}
}
.para
{
	font-size: 20px;
}


@media only screen and (max-width:700px)
{
	.para{
		font-size: 10px;
	}
}
h1
{
	font-size: 50px;
}

@media only screen and (max-width:1000px)
{
	h1{
		font-size: 20px;
	}
}

/*Grid*/
.member
{/*
	width: 500px;
	height: 300px;*/
	background-color: #f0e51f;
}



.member img
{
	width: 100px;
	height: 150px;
	border:5px solid white;
	border-radius: 75%;
	box-shadow: 5px 5px 5px black;
}
.about{
	font-size: 20px;
}

.grider
{	
	background: linear-gradient(to top, #069ce5,white);
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	justify-items: stretch;
	padding: 25px;
	
}

.varun
{	
	background-color: #a7fa00;
	/*font-size: 25px;*/
	text-align: justify;
	padding: 3px 10px;
	align-items: center;
	margin:10px;
}

.vijay

{	
	background-color: #ff4900;
	/*font-size: 25px;*/
	text-align: justify;
	padding: 3px 10px;
	align-items: center;
	margin:10px;
}

.naveen
{	
	background-color: #00e890;
	/*font-size: 25px;*/
	text-align: justify;
	padding: 3px 10px;
	align-items: center;
	margin:10px;
}

.nandha
{	
	background-color: #ffc900;
	/*font-size: 25px;*/
	text-align: justify;
	padding: 3px 10px;
	align-items: center;
	margin:10px;
}


/*footer*/	
.footer
{	
	position: sticky;
    text-align: center;
    background-color: #444;
    color: white;
    width: 100%;
    height:100%;
    font-size: 30px;
    font-family: algerian;
}

strong
{
	font-size: 25px;

}


@media only screen and (max-width:600px)
{
	strong
	{
		font-size: 20px;
	}
	}
}






